{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

{% if message %}
  {{message}}
{% endif %}

<form action="{% url 'accounts:login' %}" method="POST">
  {% csrf_token %}

  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}" />
  {% endif %}

  <p>
    <label for="username_field">Username:</label>
    <input type="text" name="username" id="username_field" />
  </p>
  <p>
    <label for="pass1">Password:</label>
   <input type="password" name="password" id="pass" />
  </p>
  <input type="submit" value="Login">
</form>

{% endblock %}
