{% load static %}

<h2>Sign up</h2>

{% if message %}
  {{message}}
{% endif %}

<form action="{% url 'accounts:signup' %}" method="POST">
  {% csrf_token %}
  <p>
    <label for="username_field">Username:</label>
    <input type="text" name="username" id="username_field" />
  </p>
  <p>
    <label for="pass1">Password:</label>
   <input type="password" name="password1" id="pass1" />
  </p>
  <p>
    <label for="pass2">Confirm Password:</label>
    <input type="password" name="password2" id="pass2" />
  </p>
  <input type="submit" value="Sign up">
</form>
