{% extends 'base.html' %}

{% block content %}
<div class="col-xs-12">
<h2>All <strong>{{author}}'s</strong> posts</h2>
</div>


<div class="col-xs-12 url-wrapper">
  {% for post in posts.all %}
    <div class="row post-wrapper">
      <div class="col-xs-1 vote-button-wrapper">

        <form action="{% url 'posts:upvote' post.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-default btn-xs">
           <span class="glyphicon glyphicon-triangle-top"></span>
          </button>
        </form>

          {{post.rating}}

        <form action="{% url 'posts:downvote' post.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-default btn-xs">
           <span class="glyphicon glyphicon-triangle-bottom"></span>
          </button>
        </form>

      </div>
      <div class="col-xs-11">
        <h3 class="post-title"><a href=" {{ post.url }} " target="_blanc">{{post.title}}</a></h3>
        <p>{{post.pub_date_pretify}}</p>
      </div>
    </div>
{% endfor %}
</div>

{% endblock %}
