{% extends 'base.html' %}

{% block content %}

<h1>Home page</h1>

<h2>REDIT CLONE</h2>

<a href="{% url 'posts:create' %}">Create post</a>

{% for post in posts.all %}
  <form action="{% url 'posts:upvote' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="UP">
  </form>
    {{post.rating}}
  <form action="{% url 'posts:downvote' post.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="DOWN">
  </form>
     - <a href=" {{ post.url }} " target="_blanc">{{post.title}}</a></p>
  <p>{{post.pub_date}}, by {{post.author}}</p>
{% endfor %}

{% endblock %}
